.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  & div {
    margin: 10px 3%;
  }
}

.stock-name {
  font-weight: 400;
  font-size: 15px;
}

.stock-id {
  font-weight: 300;
  font-size: 13px;
}

.symbol-card {
  width: 100%;
  text-align: center;
  background-color: #f5f6fa;
  border: 1px solid black;
  border-radius: 10px;
}

@include tablet {
  .main-body {
    justify-content: space-around;
  }

  .symbol-card {
    width: 25%;
    transition: all 0.2s ease-in-out;
  }

  .symbol-card:hover {
    transform: scale(1.1);
  }
}

@include desktop {
  .symbol-card {
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .stock-name {
    font-weight: 400;
    font-size: 20px;
  }

  .stock-id {
    font-weight: 300;
    font-size: 20px;
  }
}
