.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  & div {
    margin: 10px 3%;
  }
}

.symbol-card {
  width: 100%;
  text-align: center;
  background-color: #f5f6fa;
  border: 1px solid black;
  border-radius: 10px;
}

@include tablet {
  .main-body {
    justify-content: space-around;
  }

  .symbol-card {
    width: 25%;
  }
}
